{% extends "base.html"%}

{% block title %}
    Projects
{% endblock title %}

{% block content%}
  <article>
  	<h1>Projects</h1>
    <table>
      <tr>
        <td><a href="#" target="_blank">

          <div class="cont">
            <img class="projectPics" src="../assets/images/france.png" alt="pic">
            <div class="text-cont"><p class="picP">France</p></div>
          </div>

        </a></td>

        <td><a href="#" target="_blank">
          
            <div class="cont">
            <img class="projectPics" src="../assets/images/switzerland.png" alt="pic">
            <div class="text-cont"><p class="picP">Switzerland</p></div>
          </div>

        </a></td>

        <td><a href="#" target="_blank">

            <div class="cont">
            <img class="projectPics" src="../assets/images/colombia.png" alt="pic">
            <div class="text-cont"><p class="picP">Colombia</p></div>
          </div>

        </a></td>
      </tr>

      
    </table>

  </article>
{% endblock content%}